<div class="container form">
  <h1 style="text-align: center;"> Sign up </h1>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="col-md-6 col-md-offset-3">
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.submit "Sign up", :class => "btn btn-lg center-block" %>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>