<p> test </p>

<%= image_tag User.find(params[:user_id]).profile_pictures.last.image %>
 <%= form_for(User.find(params[:user_id]), url: user_profile_path(id: User.find(params[:user_id]).id), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :picture %><br />
  	<%= f.file_field :profile_picture %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>